/* CSS Document */
body{
	padding:0;
	color:#9dc2ff;
	position:absolute;
	width:1366 px;
	height:768 px;
	overflow:hidden;
	background-image:url(../images/CarbonFiber_2.jpg);
}

.fauxBody,.fauxBody1,.fauxBody2{
	width:1366px;
	height:768px;
	position:absolute;
	z-index:-50;
}

.soundCont, .soundCont1, .soundCont2{
	height:0px;
	width:0px;
}

ul{
	list-style-type: none;
	padding:0;
	margin:0;
}

/*----------------------------------Background Animations-----------------------------------*/
.bgAnimRing{
	top:-230px;
	left:-230px;
	position:absolute;
	width:700px;
	height:700px;
	z-index:-40;
	opacity:.3;
}

.bgAnimRing1{
	opacity:0;
	top:248px;
	left:248px;
	width:205px;
	height:205px;
	position:absolute;
	z-index:-40;
	background-image:url(../images/bgAnim1.png);
}

.bgAnimRing2{
	opacity:0;
	top:75px;
	left:75px;
	width:550px;
	height:550px;
	position:absolute;
	z-index:-40;
	background-image:url(../images/bgAnim2.png);
}

.bgAnimRing3{
	opacity:0;
	width:700px;
	height:700px;
	position:absolute;
	z-index:-40;
	background-image:url(../images/bgAnim3.png);
}

.sineGraph{
	opacity:0;
	position:absolute;
	top:-8px;
	left:1180px;
	width:150px;
	height:50px;
	background-image:url(../images/singraph.png);
}

.welcomeRings{
	position:absolute;
	left:333px;
	width:700px;
	height:700px;	
}

.welcomeRing1{
	opacity:.6;
	position:absolute;
	top:150px;
	left:150px;
	width:400px;
	height:400px;
	background-image:url(../images/welcomeRing1R.png);
	background-repeat:no-repeat;
}

.welcomeRing2{
	opacity:.6;
	position:absolute;
	width:600px;
	height:600px;
	top:50px;
	left:50px;
	background-image:url(../images/welcomeRing2R.png);
	background-repeat:no-repeat;
}

.welcomeRing3{
	opacity:.6;
	position:absolute;
	width:700px;
	height:700px;
	background-image:url(../images/welcomeRing3R.png);
	background-repeat:no-repeat;
}

.lockIcon{
	position:absolute;
	width:110px;
	height:110px;
	top:294px;
	left:296px;
	background-image:url(../images/lock.png);
	background-repeat:no-repeat;
}
/*----------------------------------Side Bar Menu-----------------------------------*/
.sideBarUl{
	display:none;
	position:absolute;
	left:-10px;
	width:360px;
	z-index:100;
	overflow:hidden;
}

.sideBarUl li{
	opacity:0;
	overflow:hidden;
	padding-left:30px;
	padding-right:35px;
	font-family:'Nova Square', cursive;
	font-size:24px;
	line-height:100px;
	width:330px;
	height:100px;
	clear:both;
	background-image:url(../images/sideLiBG.png);
	background-repeat:no-repeat;
}

.sideBarUl li:hover{
	cursor:pointer;
	color:#fff;
	background-image:url(../images/sideLiBGHover.png);
}

/*----------------------------------Footer-----------------------------------*/

.footerImg{
	height:110px;
	width:1366px;
	position:absolute;
	top:648px;
	background-image:url(../images/footer.png);
	z-index:0;
}

.semText{
	font-family:'Nova Square', cursive;
	position:absolute;
	left:30px;
	top:50px;
	font-size:30px;
}

.juryText{
	font-family:'Nova Square', cursive;
	position:absolute;
	left:460px;
	top:13px;
	font-size:48px;
}

.headText{
	font-family:'Nova Square', cursive;
	position:absolute;
	width:400px;
	left:700px;
	top:-8px;
	font-size:36px;
}

.infoText{
	font-family:'Nova Square', cursive;
	position:absolute;
	width:400px;
	left:380px;
	top:5px;
	font-size:20px;
}

.footerGraph{
	width:300px;
	height:70px;
	position:absolute;
	left:1010px;
	top:672px;
	z-index:1;	
}

.footerGraphUnit{
	opacity:0;
	width:70px;
	height:70px;
	margin-left:-40px;
	float:left;
	background-image:url(../images/footerGraph.png);
}

/*----------------------------------Image Gallery-----------------------------------*/
#imgGalCont{
	opacity:0;
	position:absolute;
	width:1220px;
	height:620px;
	left:1400px;
	top:35px;
	overflow:hidden;
}

#imgGalOut{
	position: absolute;
	width: 1220px;
	height: 620px;
	background-image: url(../images/imageGalBorder.png);
	background-repeat: no-repeat;
	background-color: transparent;
	overflow:hidden;
	z-index: 50;
	left:0px;
	top: 2px;
}

#imgGalIn{
	position:absolute;
	width:1188px;
	height:600px;
	left:10px;
	top:10px;
	background-color:#000;
	overflow:hidden;
	z-index:40;
}

.cogErgo, .typography, .exDes, .resMeth, .openEl, .phyComp, .desProj {
	position: relative;
	overflow: auto;
}

.cogErgo li, .typography li, .exDes li, .resMeth li, .openEl li, .phyComp li, .desProj li{
	list-style: none;
}

.cogErgo ul li, .typography ul li, .exDes ul li, .resMeth ul li, .openEl ul li, .phyComp ul li, .desProj ul li{
	float: left;
}